[Desktop Entry]
Encoding=UTF-8
Name=greenrenovatedbonds Core
Comment=greenrenovatedbonds P2P Cryptocurrency
Comment[de]=Verbinde mit dem greenrenovatedbonds peer-to-peer Netzwerk
Comment[fr]=greenrenovatedbonds, monnaie virtuelle cryptographique pair à pair
Comment[tr]=greenrenovatedbonds, eşten eşe kriptografik sanal para birimi
Exec=greenrenovatedbonds-qt %u
Terminal=false
Type=Application
Icon=greenrenovatedbonds128
MimeType=x-scheme-handler/greenrenovatedbonds;
Categories=Office;Finance;
